<ion-view class="background" title="Contact">
    <ion-content padding="true">
        <h1 class="text-center">Contact</h1>
        <div class="list">
              <label class="item item-input input-login">
                <i class="icon ion-email placeholder-icon icon-login"></i>
                <input type="text" placeholder="Email">
              </label>
              <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
            <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
            <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
            <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
            <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
            <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
            <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
            <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
            
            <label class="item item-input input-login">
                <i class="icon ion-locked placeholder-icon icon-login"></i>
                <input type="text" placeholder="Password">
              </label>
              <ion-checkbox ng-model="filter.yellow" class="checkbox-login">Remember Me</ion-checkbox>
              
              <button class="button button-block btn-login">Login with Email</button>
            </div>
    </ion-content>
</ion-view>