<ion-popover-view style="height:170px;">
        <ion-content>
          <div class="list">
                      
                      <a menu-close class="item item-icon-left" ui-sref="menu.rechercheEvents">
                        <i class="icon ion-wineglass"></i>
                        Events
                      </a>
                      <a menu-close class="item item-icon-left" ui-sref="menu.rechercheMembers">
                        <i class="icon ion-ios-people"></i>
                        Players
                      </a>
                        <a menu-close class="item item-icon-left" ui-sref="menu.recherchePlaces">
                        <i class="icon ion-map"></i>
                        Meeting Places
                      </a>
                    </div>
        </ion-content>
      </ion-popover-view>