<ion-view class="background" title="Recherche Events">
    <ion-content padding="true">
        
        <ion-list class="list-notification">
            <ion-item class="item-icon-right item-avatar">
                <img src="img/avatar.png">
                <h2>Dridi Lotfi</h2>
                <p>Back off, man. I'm a scientist.</p>
                <i class="icon ion-chevron-left"></i>
                <ion-option-button class="button button-assertive">
                    <i class="icon ion-trash-b"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-icon-right item-avatar">
                <img src="img/avatar.png">
                <h2>Dridi Lotfi</h2>
                <p>Back off, man. I'm a scientist.</p>
                <i class="icon ion-chevron-left"></i>
                <ion-option-button class="button button-assertive">
                    <i class="icon ion-trash-b"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
        
    </ion-content>
    
</ion-view>